<header>
    <h2 class="logo">1001-mp3</h2>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Service</a>
        <a href="#">Contact</a>
    </nav>
</header>

    <section class="container">
        <img src="img/hill1.png" id="hill1">
        <img src="img/hill2.png" id="hill2">
        <img src="img/hill3.png" id="hill3">
        <img src="img/hill4.png" id="hill4">
        <img src="img/hill5.png" id="hill5">
        <img src="img/tree.png" id="tree">
        <input type="text" placeholder="Paste Your Link Here" id = "input">
        <img src="img/leaf.png" id="leaf">
        <img src="img/plant.png" id="plant">
    </section>

    <section class="exp">
        <h3>1001-mp3</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima amet perspiciatis alias saepe deleniti, libero repellat ex provident mollitia iure delectus numquam molestiae rerum sit illum eos? Adipisci totam, enim. Expedita numquam quisquam asperiores non unde consectetur enim corrupti animi eveniet libero sunt at nam laborum, natus cumque exercitationem et recusandae sequi distinctio nostrum, quo. Enim vel sit eum ipsam ab, nostrum, voluptatibus veniam eligendi saepe recusandae officiis ut voluptates provident aperiam accusantium. Nisi aut dolorem quibusdam, laudantium amet ut magni mollitia voluptates dolore magnam, consequuntur eos inventore sunt eius illum? Animi, laudantium minus eius temporibus, explicabo aliquid. Beatae, officia!</p>
    </section>


<script src="parallax.js"></script>